*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/cool-background.png);
}
#cover{
    background-color: red;
    max-width: 25%;
    align-items: center;
    
}
#cover h2{
    font-weight: 700;
    background-color: white;
}